@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
    Author: Connor , Jenna
      Date:   11/ 20/ 28 

   Filename:         dlr_columns.css

*/



/* Column Styles */

