@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
     Author: Connor , Jenna
      Date:   11/ 27/ 18


   Filename:         mi_tables.css
*/

/* Table Styles */
table.pricing{
	Background: linear-gradient(rgb(190, 215, 255), black);
	border: 5px solid gray;
	}

 td,  th {
		border: 3px solid gray;
		line-height: 1.4em;
		padding: 8px;
	}
	th{
		background-color: black;
		color: rgb(190, 215, 255);
		font-weight: normal;
	}
	td{
		color: white;
		font-size: 0.9em;
		vertical-align: top;
		}


/* Column Styles */
col#firstCol {
width: 24%;
}
col.datacols {
width: 19%; 
}


/* Table Header Styles */
thead tr{
	height: 60px;
}
thead tr:first-of-type th:first-of-type{
	font-size: 2em;
}
thead tr:first-of-type th:not(:first-of-type){
	background-color: transparent;
	color: black;
}







