@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Columns Style Sheet
    Author: Connor Jenna
      Date:   11/28/18

   Filename:   lht_columns.css

*/



/* Column Styles */

