@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 6
   Case Problem 2

   Sudoku Style Sheet
      Author: Connor Jenna
      Date:   11/28/18


   Filename:         jpf_sudoku.css

*/

/* Table Styles */
table.spuzzle {
	border-collapse: collapse;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 90%
}

td{
	border: 5px outset gray;
	width: 33.33%;
}
th{
	color: gray;
	padding-right: 10px;
	padding-bottom: 10px;
}

/* Inner Table Styles */
table.subtable{
	border: collapse;
	width: 100%;
}
table.subtable td{
	box-shadow: inset 0px opx 15px;
	border: 1px solid black:;
	color: blue;
	height: 40px;
	text-align: center;
	vertical-align: center
}
td.greenBox td{
	background-color: rgb(228, 199, 42);
}
td.goldBox td{
	background-color: rgb(203, 229, 130);
}
	

